body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #008080; 
    color: white;
}
header {
    background-color: #064273; 
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    display: block;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}
nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #def3f6; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; 
}
h2 {
    color: #1da2d8; 
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.project {
    padding: 10px;
    background-color: #76b6c4; 
    border-radius: 8px;
    color: #333;
}
.project h3 {
    margin-top: 0;
    color: #064273; 
}
.project a {
    color: #1da2d8; 
    text-decoration: none;
}
.project a:hover {
    text-decoration: underline;
}
.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}